# BACKEND -----------------------------------------------------------------

## Infra (rodando em Docker)
MONGO_URI=mongodb://mongo:27017/weatherdb
MONGO_DB_NAME=weatherdb

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

## API (NestJS)
API_PORT=3000
JWT_SECRET=change_me_jwt
JWT_EXPIRES_IN=1h
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_NAME=Admin

JWT_ACCESS_SECRET=change_me_access
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPIRES_IN=7d

## APIKEY PARA TESTES 
OPENAI_API_KEY=YOUR_API_KEY


# FRONTEND -----------------------------------------

VITE_API_URL=http://localhost:3000/api

# COLLECTOR ------------------------------------------

RABBITMQ_QUEUE=weather_snapshots

WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/onecall
WEATHER_CITY=Recife
WEATHER_LAT=-8.0539
WEATHER_LON=-34.8811
WEATHER_POLL_INTERVAL_SECONDS=3600
## APIKEY PARA TESTES
OPENWEATHER_API_KEY=5796abbde9106b7da4febfae8c44c232

LOCATION_CITY=Recife
LOCATION_STATE=Pernambuco
LOCATION_COUNTRY=BR
LOCATION_TIMEZONE=America/Recife
LOCATION_TZ_OFFSET=-10800

WEATHER_POLL_INTERVAL_SECONDS=3600


# WORKER -------------------------------------------------------

## RabbitMQ

## API NestJS (dentro da network do Docker)
API_URL=http://backend:3000/api

## Credenciais do usuário de serviço (pode ser o admin padrão)
API_LOGIN_EMAIL=admin@example.com
API_LOGIN_PASSWORD=123456
