# Infra (rodando em Docker)
MONGO_URI=mongodb://mongo:27017/weatherdb
MONGO_DB_NAME=weatherdb

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# API (NestJS)
API_PORT=3000
JWT_SECRET=change_me_jwt
JWT_EXPIRES_IN=1h
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_NAME=Admin

JWT_ACCESS_SECRET=change_me_access
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPIRES_IN=7d

# É NECESSÁRIO QUE VOCÊ CRIE UMA CHAVE NA OPENAI PARA OS INSIGHTS FUNCIONAREM
OPENAI_API_KEY=YOUR_API_KEY

