# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=weather_snapshots

# API NestJS (dentro da network do Docker)
API_URL=http://backend:3000/api

# Credenciais do usuário de serviço (pode ser o admin padrão)
API_LOGIN_EMAIL=admin@example.com
API_LOGIN_PASSWORD=123456
