RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=weather_snapshots

WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/onecall
WEATHER_CITY=Recife
WEATHER_LAT=-8.0539
WEATHER_LON=-34.8811
WEATHER_POLL_INTERVAL_SECONDS=3600
# APIKEY PARA TESTES
OPENWEATHER_API_KEY=5796abbde9106b7da4febfae8c44c232

LOCATION_CITY=Recife
LOCATION_STATE=Pernambuco
LOCATION_COUNTRY=BR
LOCATION_TIMEZONE=America/Recife
LOCATION_TZ_OFFSET=-10800

WEATHER_POLL_INTERVAL_SECONDS=3600
